.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  background-color: #d6e6c3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.greeting .name {
  font-weight: bold;
  font-size: 18px;
}

.greeting .subtext {
  color: #9c9c9c;
  font-size: 14px;
}

/* Responsive */
@media (min-width: 768px) {
  .header {
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .greeting {
    text-align: left;
    margin-left: 20px;
  }
  
  .greeting .name {
    font-size: 24px;
  }
  
  .greeting .subtext {
    font-size: 16px;
  }
  
  .avatar {
    width: 70px;
    height: 70px;
  }
}